###> miscellaneous ###
/.git
/.idea
###< miscellaneous ###

###> environment variables ###
/.env
/.env.*
!/.env.default
###< environment variables ###

###> symfony/framework-bundle ###
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/asset-mapper ###
/assets/vendor/
/public/assets/
###< symfony/asset-mapper ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.dist.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> phpstan/phpstan ###
/phpstan.dist.neon
/phpstan.neon
###< phpstan/phpstan ###

###> other ###
/README.md
/PREVIEW.gif
###> other ###
