###> miscellaneous ###
/.idea/
###< miscellaneous ###

###> environment variables ###
.env.*.local
.env.local
###< environment variables ###

###> symfony/framework-bundle ###
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/asset-mapper ###
/assets/vendor/
/public/assets/
###< symfony/asset-mapper ###
