name: "localbox"

services:
    nginx:
        container_name: 'localbox-nginx'
        image: nginx:alpine
        ports:
            - "8000:80"
        volumes:
            - "./docker/config/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro"
            - "./:/var/www/localbox"
        depends_on:
            - php

    php:
        container_name: 'localbox-php'
        build:
            context: .
            dockerfile: ./docker/service/php/Dockerfile
        environment:
            - DATABASE_URL=mysql://root@mysql:3306/localbox?serverVersion=9.5.0
        volumes:
            # - "./docker/config/php/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini:ro"
            - "./docker/config/php/default.ini:/usr/local/etc/php/conf.d/default.ini:ro"
            - "./:/var/www/localbox"
        depends_on:
            mysql:
                condition: service_healthy
        extra_hosts:
            - host.docker.internal:host-gateway

    mysql:
        container_name: 'localbox-mysql'
        image: mysql:9.5.0
        environment:
            - MYSQL_DATABASE=localbox
            - MYSQL_ALLOW_EMPTY_PASSWORD=true
        ports:
            - "3306:3306"
        healthcheck:
            test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
            timeout: 5s
            retries: 10

networks:
    default:
        name: "localbox-network"
