<header class="mb-8 text-center">
    <h1 class="mb-2 font-black font-inter text-6xl text-brand uppercase tracking-tight md:text-8xl">
        LocalBox
    </h1>
    <p class="font-inter font-medium text-zinc-300 uppercase tracking-widest md:text-sm">
        Local File Hosting
    </p>
</header>
