<header class="mb-8 text-center">
    <h1 class="mb-2 font-inter text-6xl font-black tracking-tight text-brand uppercase md:text-8xl">
        LocalBox
    </h1>
    <p class="font-inter font-medium tracking-widest text-zinc-300 uppercase md:text-sm">
        Local File Hosting
    </p>
</header>
