{% extends "@!EasyAdmin/layout.html.twig" %}

{% block header %}
    <nav class="navbar" role="navigation">
        {% block header_navbar %}
            <div id="header-logo">
                {% block header_logo %}
                    <a class="logo" title="{{ ea.dashboardTitle|striptags }}" href="{{ path(ea.dashboardRouteName) }}">
                        <span class="logo-custom lead text-center">{{ ea.dashboardTitle|raw }}</span>
                        <span class="logo-compact">
                            <twig:ea:Icon name="internal:home" />
                        </span>
                    </a>
                {% endblock header_logo %}
            </div>
        {% endblock header_navbar %}
    </nav>
{% endblock header %}
