name: "localbox"

services:
    nginx:
        image: nginx:alpine
        ports:
            - "8000:80"
        volumes:
            - "./config/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro"
            - "../:/var/www/localbox"
        depends_on:
            - php

    php:
        build:
            context: .
            dockerfile: ./service/php/Dockerfile
        environment:
            - APP_ENV=dev
            - DATABASE_URL=mysql://root@mysql:3306/localbox?serverVersion=9.5.0
        volumes:
            - "./config/php/default.ini:/usr/local/etc/php/conf.d/default.ini:ro"
            - "./config/php/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini:ro"
            - "./storage:/var/www/storage"
            - "../:/var/www/localbox"
        depends_on:
            mysql:
                condition: service_healthy
        extra_hosts:
            - host.docker.internal:host-gateway

    mysql:
        image: mysql:9.5.0
        environment:
            - MYSQL_DATABASE=localbox
            - MYSQL_ALLOW_EMPTY_PASSWORD=true
        ports:
            - "3306:3306"
        healthcheck:
            test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
            timeout: 5s
            retries: 10

networks:
    default:
        name: "localbox-network"
