<div class="relative overflow-hidden rounded bg-zinc-900 p-3">
    <div class="absolute top-0 left-0 z-0 h-full bg-emerald-600 opacity-25 transition" data-dz-uploadprogress></div>
    <div class="relative z-1 flex gap-3">
        <div class="size-24 flex-shrink-0 overflow-hidden rounded bg-zinc-600/50">
            <img src="{{ asset('/images/thumbnail-placeholder.svg') }}" class="size-full object-cover" data-dz-thumbnail />
        </div>
        <div class="flex flex-col">
            <span class="font-mono" data-dz-name></span>
            <span class="font-mono text-sm" data-dz-size></span>
        </div>
    </div>
</div>
