<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}LocalBox{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% block importmap %}
            {{ importmap('app') }}
        {% endblock %}
    </head>
    <body class="relative bg-zinc-950 text-zinc-100 antialiased">
        <div class="-z-1 absolute inset-0 bg-radial-gradient-pattern"></div>
        {% block body %}
            <main class="container mx-auto min-h-dvh px-4 py-16">
                {% block main %}{% endblock %}
            </main>
        {% endblock %}
    </body>
</html>
